{% extends 'JuanLuisLabBundle::layout.html.twig' %}

{% block title          'SymfonyLabs' %}
{% block description    'Exercises about Symfony  ' %}

{% block content %}

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>List Tasks</h1>
     </div>

    <!-- Example row of columns -->
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Name</th>
                <td></td>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ task.name }}</td>
                    <td class="text-right">
                        <a class="btn btn-info" href="#" role="button"><i class="fa fa-trash"></i></a>
                        <a class="btn btn-warning" href="#" role="button"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger" href="#" role="button"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
                    {# <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> #}
                </div>
            {% else %}
                <p class="bg-success text-center">There aren't tasks</p>
            {% endfor %}
        </table>
    </div>

{% endblock %}