{% extends 'JuanLuisLabBundle::layout.html.twig' %}

{% block title          'SymfonyLabs' %}
{% block description    'Exercises about Symfony  ' %}

{% block content %}

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>List Tasks</h1>
     </div>

    <!-- Example row of columns -->
    <div class="row">
        {% for task in tasks %}
            <div class="col-lg-4">
                <h2>{{ task.name }}</h2>
                <p> {{ task.description }}</p>
                {# <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> #}
            </div>
        {% else %}
            <p class="bg-success text-center">There aren't tasks</p>
        {% endfor %}
    </div>

{% endblock %}